.dropdown-menu {
    border: none;
    border-radius: 3px;
    font-size: 12px;
    padding: 0;
    z-index: 1000;
    height: auto;
    max-height: 500px;
    overflow-x: hidden;

    > li {
        -webkit-transform: translateZ(0);
        > a {
            border-radius: 3px;
            color: inherit;
            line-height: 25px;
            margin: 4px;
            font-weight: normal;
        }  
    }
}

.dropdown-menu.dropdown-light {
    background-color: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.15);
    max-width: 300px;
    min-width: 166px;
    border-radius: 7px;
    padding: 0;

    &:before, &:after {
        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
        display: block;
        height: 0;
        position: absolute;
        width: 0;
    }

    &:before {
        border-bottom-color: rgba(17, 17, 17, 0.15);
        border-style: solid;
        display: block;
        height: 0;
        position: absolute;
        width: 0;
        border-width: 11px;
        border-top-width: 0;
        content: " ";
        top: -11px;
        left: 10px;
    }

    &:after {
        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
        display: block;
        height: 0;
        position: absolute;
        width: 0;
        border-width: 10px;
        border-bottom-color: #FFFFFF;
        border-top-width: 0;
        content: " ";
        top: -9px;
        left: 11px;
    }

    &.pull-right {
        &:after {
            left: auto;
            right: 11px;
        }

        &:before {
            left: auto;
            right: 10px;
        }
    }

    li a {
        border-bottom: 1px solid #DDDDDD;
        font-size: $font-size-normal;
        line-height: 35px;
        color: $primary;
        text-align: center;
    }
    
    > li > a {
        margin: 0;
    }

    li:first-child a {
        border-radius: 7px 7px 0 0;
    }

    li:last-child a {
        border-radius: 0 0 7px 7px;
    }

    li:last-child a {
        border-bottom: none;
    }
}

.drop-down-wrapper {
    .list-group-item {
        border-left: none;
        border-right: none;
        margin-top: 0;

        &:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:last-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.dropdown-header {
    padding: 10px 10px 5px 10px;
    font-size: $font-size-normal;
}
